.page[b-qgsvw684bo] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

main[b-qgsvw684bo] {
    flex: 1;
}

.nav-title[b-qgsvw684bo] {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.navbar-brand[b-qgsvw684bo] {
    font-size: 1.1rem;
    font-weight: bold;
}

.top-row[b-qgsvw684bo] {
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-qgsvw684bo]  a,
.top-row[b-qgsvw684bo]  .btn-link {
    white-space: nowrap;
    text-decoration: none;
}

.top-row[b-qgsvw684bo]  a:hover,
.top-row[b-qgsvw684bo]  .btn-link:hover {
    text-decoration: none;
}

.top-row[b-qgsvw684bo]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item[b-qgsvw684bo] {
    font-size: 1rem;
    font-weight: 600;
}

.nav-link[b-qgsvw684bo] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item[b-qgsvw684bo]  .nav-link {
    color: black;
    background: none;
    border: none;
    border-radius: 16px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-qgsvw684bo]  a.active {
    color: black;
    text-decoration: underline;
}

@media (max-width: 640.98px) {
    .top-row[b-qgsvw684bo] {
        justify-content: space-between;
    }

    .top-row[b-qgsvw684bo]  a,
    .top-row[b-qgsvw684bo]  .btn-link {
        margin-left: 0;
    }
}


#blazor-error-ui[b-qgsvw684bo] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-qgsvw684bo] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}